<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="G7M7T1">
    <meta name="robots" content="index,follow">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/homepage.css">
</head>
<body>
    <h1>Students System</h1>
    <a href="/students">Students List</a>
    <a href="/students/insert">Add new Student</a>
</body>
</html>