<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="G7M7T1">
    <meta name="description" content="Not Accept">
    <meta name="robots" content="index,follow">
    <title>Error</title>
    <link rel="stylesheet" href="/styles/thanks.css">
</head>

<body>
    <h1 class="awesome">Data Not Accept</h1>
    <p>Something wrong maybe post new later</p>
    <p class="secondp">You can click here to go back to <a href="/students">Home Page</a></p> 
</body>

</html>